*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
section{
  margin-top:50px; 
  
}
form{
    border:3px solid red;
    border-radius:10px;
    padding:40px; 
    box-shadow: 7px 7px 30px grey;
}
section label{
    font-size:20px;
    font-weight: bolder;
}
 .navbar-collapse .mx-auto{
    margin-right:200px !important;
 }
